{% extends "base.html" %}
{% block content %}

<div class='row m-5'>
  <div class='col-12'>
    <h2 class='display-2 text-center'>Best Places To Work</h2>
  </div>
</div>


<div class='row my-3 '>
  <div class='col-12 offset-md-2 col-md-8'>
    <form method='GET' class='needs-validation' novalidate>

      <!-- Job  -->
      <div class='form-row'>
        <div class='col-12'>
          <div class='form-group'>
            <label for='{{ form.job.id_for_label }}'> {{ form.job.label }} </label>
            {{ form.job }}
            {{ form.job_value }}
            <div class="invalid-feedback">
              Job is missing
            </div>
          </div> <!-- form-group -->
        </div>
      </div> <!-- form-row -->

      <!-- Location Type -->
      <div class='form-row'>
        <div class='col-12'>
          <div class='form-group'>
            <label for='{{ form.location_type.id_for_label }}'> {{ form.location_type.label }} </label>

            <div>
              {% for radio in form.location_type %}
              <div class='custom-control custom-radio custom-control-inline'>
                {{ radio.tag }}
                <label class='custom-control-label' for='{{ radio.id_for_label }}'>{{ radio.choice_label }}</label>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
      <!-- /location type -->

      <a class="" style="text-decoration:none" data-toggle="collapse" href="#advanced_settings">
   Advanced Settings
      </a>

      <div class='row my-3'>
        <div class='col-12'>
          <div id= 'advanced_settings' class='collapse'>

            <!-- Rent  -->
            <div class='form-row'>
              <div class='col-12 col-md-4'>
                <div class='form-group'>
                  <label for='{{ form.rent.id_for_label }}'> {{ form.rent.label }} </label>
                  {{ form.rent }}
                </div>
              </div>
            </div>


            <!-- Include Tax -->
            <div class='form-row'>
              <div class='col-12'>
                <div class='form-group'>

                  <div class='custom-control custom-checkbox'>
                    {{ form.include_tax }}
                    <label class='custom-control-label' for='{{ form.include_tax.id_for_label }}'> {{ form.include_tax.label }} </label>
                  </div>

                </div>
              </div>
            </div>
            <!-- /Include Tax -->

            <!-- Filing Status  -->
            <div class='form-row'>
              <div class='col-12  col-md-4'>
                <div class='form-group'>
                  <label for='{{ form.filing_status.id_for_label }}'> {{ form.filing_status.label }} </label>
                  {{ form.filing_status }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- Submit Button -->
      <button type='submit' class='btn btn-primary'>Search</button>
    </form>
  </div>

</div> <!-- Form -->

<hr class='my-3'>

<!-- Result Table -->
<div class='row my-3'>
  <div class='col-12 offset-md-1 col-md-10'>
    <div class='table-responsive' >
      <table id='data-table' class='table table-hover border-left border-right'>

        <thead class='thead-light'>
          <tr>
            <th>Rank</th>
            <th>Location</th>
            <th data-toggle="tooltip"
                data-placement="top"
                title="The number of jobs in the given occupation per 1,000 jobs in the given area.">
                Employment per 1,000 jobs
            </th>
            <th>Salary</th>
            <th data-toggle="tooltip" data-placement="top" title="Median Gross Rent">Rent</th>
            <th data-toggle="tooltip" data-placement="top" title="40% Employment per 1,000 jobs, 30% Salary, 30% Rent">Score</th>
          </tr>
        </thead>

      </table>
    </div>
  </div>
</div>


{% endblock content %}

{% block js %}
{% load static %}
<script>
  $(document).ready(function(){

    //initialize tooltips
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });

    //Initalize collapse
    $('.collapse').collapse("hide");


    //Autocomplete field
    $('#id_job').autocomplete({
      minLength: 0,

      source: function(request,response) {
        $.ajax({
          url:"/ajax/jobs",
          data: {term:request.term},
          dataType:'json',
          type:'GET',
          success:function(data){
              return response(data);
          },
        });
      },
      search:function(event,ui) {
        //because of some stupid bug the below line of code is necessary
        $('#id_job').data("ui-autocomplete").menu.bindings = $();
      },
      select: function(event,ui){
        $('#id_job').val(ui.item.label);
        $('#id_job_value').val(ui.item.value);
        return false;
      },
      focus:function(event,ui){
        $('#id_job').val(ui.item.label);
        $('#id_job_value').val(ui.item.value);
        return false;
      },
      change:function(event,ui){
        if (ui.item === null) {
          $('#id_job_value').val('');
        }
        return false;
      }
    }).click(function(){
      $(this).val("")
      $('#id_job_value').val('');
      $(this).autocomplete('search',$(this).val());
    });


    //Initialize Data Table
    $.fn.dataTable.ext.errMode = 'throw';

    var data_table = $('#data-table').DataTable({
      //processing:true,
      //serverSide:true,
      //deferLoading:0,
      deferRender:true,
      ajax:{
        url:'/ajax/best-places-to-work',
        dataSrc:''
      },
      columns:[
        {data:'rank'},
        {data:'location'},
        {data:'jobs_1000'},
        {data:'salary'},
        {data:'rent'},
        {data:'score'},
      ]
    });


    //When submitting form
    $("form").submit(function(event) {
     event.preventDefault();
     url = '/ajax/best-places-to-work?' + $(this).serialize()
     data_table.ajax.url(url).load();
    });


    //Toggle filing_status dropdown
    $('#id_include_tax').click(function(){
      var bool = $('#id_include_tax').prop('checked');
      $('#id_filing_status').prop('disabled',!bool);
    });

  });


  // if (location.search !== '') {
  //   location.hash = 'result-table';
  // }


// Example starter JavaScript for disabling form submissions if there are invalid fields
  // (function() {
  //   'use strict';
  //   window.addEventListener('load', function() {
  //     // Fetch all the forms we want to apply custom Bootstrap validation styles to
  //     var forms = document.getElementsByClassName('needs-validation');
  //     // Loop over them and prevent submission
  //     var validation = Array.prototype.filter.call(forms, function(form) {
  //       form.addEventListener('submit', function(event) {
  //         if (form.checkValidity() === false) {
  //           event.preventDefault();
  //           event.stopPropagation();
  //
  //         }
  //         form.classList.add('was-validated');
  //       }, false);
  //     });
  //   }, false);
  // })();


</script>

<!-- <script src="{ static "best_places_to_work.js" }"></script> -->

{% endblock js %}
