{% extends "base.html" %}

{% block content %}

<div class='row m-5'>
  <div class='col-12'>
    <h2 class='display-2 text-center'>Rent To Income Ratio</h2>
  </div>
</div>


<!-- Form -->
<div class='row my-3'>
  <div class='col-12 offset-md-2 col-md-8'>
    <form method='GET' class='needs-validation' novalidate>

      <!-- Location type -->
      <div class='form-row'>
        <div class='col-12'>
          <div class='form-group'>
            <label for='{{ form.location_type.id_for_label }}'> {{ form.location_type.label }} </label>

            <div id='radios'>
              {% for radio in form.location_type %}
              <div class='custom-control custom-radio custom-control-inline'>
                {{ radio.tag }}
                <label class='custom-control-label' for='{{ radio.id_for_label }}'>{{ radio.choice_label }}</label>
              </div>
              {% endfor %}
            </div>
          </div> <!-- form-group -->
        </div>
      </div> <!-- form-row -->
      <!-- end location type -->

      <!-- Location -->
      <div class='form-row'>
        <div class='col-12 col-md-8'>
          <div class='form-group '>
            <label for='{{ form.location.id_for_label }}'> {{ form.location.label }} </label>
            {{ form.location }}
            {{ form.location_value }}
            <div class='invalid-feedback'>
              Location is missing
            </div>
          </div> <!-- form-group -->
        </div>
      </div> <!-- form-row -->

      <!-- Apartment -->
      <div class='form-row'>
        <div class='col-12 col-md-4'>
          <div class='form-group'>
            <label for='{{ form.rent.id_for_label }}'> {{ form.rent.label }} </label>
            {{ form.rent }}
          </div> <!-- form-group -->
        </div>
      </div> <!-- form-row -->

      <!-- Include Tax -->
      <div class='form-row'>
        <div class='col-12'>
          <div class='form-group'>

            <div class='custom-control custom-checkbox'>
              {{ form.include_tax }}
              <label class='custom-control-label' for='{{ form.include_tax.id_for_label }}'> {{ form.include_tax.label }} </label>
            </div>

          </div>
        </div>
      </div>
      <!-- /Include Tax -->

      <!-- Filing Status  -->
      <div class='form-row'>
        <div class='col-12  col-md-4'>
          <div class='form-group'>
            <label for='{{ form.filing_status.id_for_label }}'> {{ form.filing_status.label }} </label>
            {{ form.filing_status }}
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <button type='submit' class='btn btn-primary'>Search</button>

    </form>
  </div> <!-- end column-->

</div> <!-- end row -->

<hr>

<!-- good jobs -->
<div class='row my-3'>
  <div class='col-12 offset-md-1 col-md-10'>

    <div class='table-responsive'>

      <table id='data-table' class='table table-hover border-left border-right'>

        <thead>
          <tr>
            <th>Rank</th>
            <th>Job</th>
            <th>Rent</th>
            <th>Salary</th>
            <th>Ratio</th>
          </tr>
        </thead>

        <!-- <caption style="caption-side: top;">{{table_one.title}}</caption> -->
        <!-- <thead class='thead-light'>
          <tr>
            {% for col_name,class,tool_tip in table_one.header %}
            <th class='{{class}}' data-toggle="tooltip" data-placement="top" title="{{tool_tip}}">{{ col_name }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>

          {% for index,rank,job,rent,salary,ratio in table_one.data.itertuples %}
          <tr>

            <td class="text-right">{{ rank }}</td>
            <td class="text-left">{{ job }}</td>
            <td class="text-right">{{ rent }}</td>
            {% if salary == '$999,999.99' %}
            <td class="text-right">> $208,000.00</td> <! check field_description.xlsx for max salary>
            <td class="text-right">-</td>
            {% else %}
            <td class="text-right">{{ salary }}</td>
            <td class="text-right">{{ ratio }}</td>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody> -->
      </table>
    </div>

  </div>
</div> <!-- /good jobs -->

{% endblock content %}

{% block js %}
{% load static %}
<script>
  $(document).ready(function(){

    //Location autocomplete
    $('#id_location').autocomplete({
      minLength: 0,
      source: function(request,response) {
        $.ajax({
          url:"/ajax/locations",
          data: {term:request.term,location_type:get_location_type()},
          dataType:'json',
          type:'GET',
          success:function(data){
              return response(data);
          },
        });
      },
      search:function(event,ui) {
        //because of some stupid bug the below line of code is necessary
        $('#id_location').data("ui-autocomplete").menu.bindings = $();
      },
      select: function(event,ui){
        $('#id_location').val(ui.item.label);
        $('#id_location_value').val(ui.item.value);
        return false;
      },
      focus:function(event,ui){
        $('#id_location').val(ui.item.label);
        $('#id_location_value').val(ui.item.value);
        return false;
      },
      change:function(event,ui){
        if (ui.item === null) {
          $('#id_location_value').val('');
        }
        return false;
      }
    }).click(function(){
      $(this).val("")
      $('#id_location_value').val("");
      $(this).autocomplete('search',$(this).val());
    });


    //Initialize data table
    $.fn.dataTable.ext.errMode = 'throw';

    var data_table = $('#data-table').DataTable({
      "pageLength":25,
      ajax:{
        url:'/ajax/rent-to-income-ratio',
        dataSrc:''
      },
      columns:[
        {data:'rank'},
        {data:'job'},
        {data:'rent'},
        {data:'salary'},
        {data:'ratio'},
      ]
    });

    //When submitting form
    $("form").submit(function(event) {
     event.preventDefault();
     url = '/ajax/rent-to-income-ratio?' + $(this).serialize()
     data_table.ajax.url(url).load();
    });


    //Get the value of the checked radio
    function get_location_type(){
      return $('input[name=location_type]:checked').val();
    }

    //Clear location field when the radio button changes
    $('input[name=location_type]').click(function(){
      $('#id_location').val('');
      $('#id_location_value').val('');
    });

    //Initialize tooltips
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    })

    //Toggle filing_status dropdown
    $('#id_include_tax').click(function(){
      var bool = $('#id_include_tax').prop('checked');
      $('#id_filing_status').prop('disabled',!bool);
    });



  });

  // if (location.search !== '') {
  //   location.hash = 'result-table';
  // }



  // Example starter JavaScript for disabling form submissions if there are invalid fields
  // (function() {
  //   'use strict';
  //   window.addEventListener('load', function() {
  //     // Fetch all the forms we want to apply custom Bootstrap validation styles to
  //     var forms = document.getElementsByClassName('needs-validation');
  //     // Loop over them and prevent submission
  //     var validation = Array.prototype.filter.call(forms, function(form) {
  //       form.addEventListener('submit', function(event) {
  //         if (form.checkValidity() === false) {
  //           event.preventDefault();
  //           event.stopPropagation();
  //
  //         }
  //         form.classList.add('was-validated');
  //       }, false);
  //     });
  //   }, false);
  // })();

</script>

<!-- <script src="{ static "rent_to_income_ratio.js" }">  </script> -->
{% endblock js %}
